@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --tenne-tawny: #e26b2b;
  --tenne-tawny-dark: #b54507;
}

body {
  font-family: 'Poppins', sans-serif;
}

section {
  padding-top: 60px;
}

.calculator {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background: #d3d3d3;
}

.input-area {
  width: 100%;
  padding: 1.5rem 0.7rem;
  font-size: 1.6rem;
  font-family: inherit;
  outline: none;
  border: none;
  text-align: end;
  background: #d3d3d3;
  color: #fff;
}

.row-one,
.row-two,
.row-three,
.row-four {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 0.1rem;
  margin: 0.1rem 0;
  background: #d3d3d3;
}

.col-one,
.col-two,
.col-three,
.col-four {
  padding: 1.5rem 0.7rem;
  width: 148.5px;
  font-family: inherit;
  font-size: 1.6rem;
  outline: none;
  border: none;
}

.row-five {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 0.1rem;
  margin: 0.1rem 0;
  background: #d3d3d3;
}

.col-five {
  padding: 1.5rem 0.7rem;
  width: 148.9px;
  font-family: inherit;
  font-size: 1.6rem;
  outline: none;
  border: none;
}

.zero {
  width: 100%;
}

.orange {
  background: var(--tenne-tawny);
}
